# Telco Case Study
2021/04/21

### Question 1

What might be the drivers for variation in network maintenance performance?

*Your answer (non-coding):*

### Question 2

After working with Data Scientists and industry experts, we've agreed to uncover the drivers of engineering team performance using a model.  The first task is to assess the data available.

What data quality issues would you be concerned about and check for?

- What data quality issues would you be concerned about and check for?
- Execute a test for completeness of data against the `Issue type` field in the alarms.json file

In [2]:
# Your answer
"..."

'...'

### Question 3

A simple initial definition of performance, is agreed to be the number of tickets a team resolves.

To better understand the variances produce a table showing:

- team
- tickets_priority_1_count
- tickets_priority_2_count
- tickets_priority_3_count

In [27]:
# Your Answer

In [12]:
# Example output schema (using generated mock data)
import pandas as pd
import numpy as np
teams = ['team78', 'team30', 'team68', 'team56', 'team34', 'team48',
       'team28', 'team33', 'team90']
example_output_q3 = pd.DataFrame(
    {'team': np.random.choice(teams, 24),
     'tickets_priority_1_count': np.random.randint(0,100,24),
     'tickets_priority_2_count': np.random.randint(0,100,24),
     'tickets_priority_3_count': np.random.randint(0,100,24)}
)
example_output_q3.head()

,team,tickets_priority_1_count,tickets_priority_2_count,tickets_priority_3_count
0,team0,61,73,72
1,team1,77,29,62
2,team2,26,58,63
3,team3,67,17,92
4,team4,77,1,75

### Question 4

As input to the early model effort create a dataframe with:

- year
- month
- team
- team size
- tickets solved in the current month
- tickets solved in the previous year

In [11]:
# Your Answer

In [2]:
# Example output schema (using generated mock data)
import pandas as pd
import numpy as np
teams = ['team78', 'team30', 'team68', 'team56', 'team34', 'team48',
       'team28', 'team33', 'team90']
example_output_q4 = pd.DataFrame(
    {'year': [2018]*12 + [2019]*12,
     'month': list(range(1,13))*2,
     'team': np.random.choice(teams, 24),
     'team_size': np.random.randint(1,6,24),
     'tickets_solved_in_the_current_month': np.random.randint(0,100,24),
     'tickets_solved_in_the_previous_year': np.random.randint(0,100,24)}
)
example_output_q4.head()

,year,month,team,team_size,tickets_solved_in_the_current_month,tickets_solved_in_the_previous_year
0,2018,1,team28,1,64,32
1,2018,2,team90,2,84,43
2,2018,3,team78,3,88,29
3,2018,4,team78,4,81,15
4,2018,5,team34,2,23,31

### Question 5

A hypothesis is that the teams working on newer towers will take longer to resolve issues.

A colleague began work on the below, but has left it unfinished...

Create a function that accepts alarms records (or subparts) and returns the alarm network type.

This is a chance to demonstrate your software engineering skills. Make sure this function is robust & ready for PR; consider testing & documentation.

In [1]:
# Your Answer
def myFunc(json_string):
    # todo fix me
    if json_string['alarm_src']['mecontext'] == 'GSM':
        return 'GSM'

# Code Snippets

In [ ]:
%%sh
pip install pyspark
pip install pandas

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import pandas as pd
spark = SparkSession.builder.getOrCreate()

In [9]:
from pyspark.sql import functions as f

In [77]:
alarms = spark.read.json('alarms.json')
tickets = spark.read.csv('tickets.dat', inferSchema=True, header=True, sep='|')
teams = spark.read.csv('team.csv', inferSchema=True, header=True, sep=',')

In [15]:
alarms.filter(f.length(alarms.issue_type) == 0).count()

5013

In [16]:
alarms.printSchema()

root
 |-- alarm_id: long (nullable = true)
 |-- alarm_src: struct (nullable = true)
 |    |-- MeContext: string (nullable = true)
 |    |-- Network: string (nullable = true)
 |    |-- SubNetwork: string (nullable = true)
 |-- event_end_ts: long (nullable = true)
 |-- event_start_ts: long (nullable = true)
 |-- issue_type: string (nullable = true)

In [17]:
tickets.show(5)

+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
|ticket_id|   alarm|         started_ts|           ended_ts|solved_by|src_system|site_visit|priority|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
|T_0000001|50025222|2018-09-14 03:29:10|14-09-2018 04.06.13|   team78|       OP2|         1|       3|
|T_0000002|50021238|2018-10-29 03:39:49|29/10/2018 04:25:25|   team30|       OP1|         0|       2|
|T_0000003|50034089|2018-03-31 07:25:48|31/03/2018 07:58:45|   team68|       OP1|         0|       3|
|T_0000004|50021918|2018-08-08 19:57:56|08/08/2018 20:42:40|   team56|       OP1|         0|       2|
|T_0000005|50046096|2018-10-10 17:47:00|10/10/2018 18:31:05|   team34|       OP1|         0|       3|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
only showing top 5 rows

In [18]:
teams.show(5)

+-------+---------+--------------------+
|team_id|team_size|avg_experience_years|
+-------+---------+--------------------+
|team040|        4|                   5|
|team033|        6|                   7|
|team090|        5|                   6|
|team056|        5|                   8|
|team048|        6|                   6|
+-------+---------+--------------------+
only showing top 5 rows

In [23]:
teams.select('team_id').distinct().show(5)

+-------+
|team_id|
+-------+
|team040|
|team048|
|team078|
|team068|
|team056|
+-------+
only showing top 5 rows

In [24]:
tickets.select('solved_by').distinct().show(5)

+---------+
|solved_by|
+---------+
|   team68|
|   team56|
|   team48|
|   team30|
|   team78|
+---------+
only showing top 5 rows

In [25]:
# Question 3

In [26]:
tickets.show()

+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
|ticket_id|   alarm|         started_ts|           ended_ts|solved_by|src_system|site_visit|priority|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
|T_0000001|50025222|2018-09-14 03:29:10|14-09-2018 04.06.13|   team78|       OP2|         1|       3|
|T_0000002|50021238|2018-10-29 03:39:49|29/10/2018 04:25:25|   team30|       OP1|         0|       2|
|T_0000003|50034089|2018-03-31 07:25:48|31/03/2018 07:58:45|   team68|       OP1|         0|       3|
|T_0000004|50021918|2018-08-08 19:57:56|08/08/2018 20:42:40|   team56|       OP1|         0|       2|
|T_0000005|50046096|2018-10-10 17:47:00|10/10/2018 18:31:05|   team34|       OP1|         0|       3|
|T_0000006|50023937|2018-11-18 06:20:17|18/11/2018 07:08:09|   team48|       OP1|         0|       3|
|T_0000007|50014731|2018-03-05 01:01:29|05/03/2018 01:43:58|   team30|       OP1|         0|       3|
|T_0000008|50005680|2018-04-22 19:40:41|22/04/2018 20:27:56|   team34|       OP1|         1|       3|
|T_0000009|50019568|2018-03-09 10:33:47|09-03-2018 11.05.04|   team34|       OP2|         0|       1|
|T_0000010|50021490|2018-02-18 03:17:54|18/02/2018 04:10:12|   team68|       OP1|         1|       3|
|T_0000011|50031715|2018-01-17 10:10:12|17-01-2018 10.59.56|   team28|       OP2|         0|       3|
|T_0000012|50020307|2018-11-13 04:30:58|13/11/2018 05:20:12|   team28|       OP1|         0|       3|
|T_0000013|50025022|2018-09-22 18:53:09|22-09-2018 19.25.44|   team56|       OP2|         0|       2|
|T_0000014|50009585|2018-02-04 22:31:39|04/02/2018 23:06:18|   team30|       OP1|         1|       3|
|T_0000015|50047314|2018-06-05 00:44:29|05-06-2018 01.20.33|   team28|       OP2|         1|       3|
|T_0000016|50016133|2018-03-03 23:37:08|04-03-2018 00.16.33|   team56|       OP2|         0|       1|
|T_0000017|50029254|2018-11-19 13:14:11|19/11/2018 14:13:59|   team33|       OP1|         0|       2|
|T_0000018|50011198|2018-05-13 15:31:09|13/05/2018 16:16:03|   team90|       OP1|         0|       2|
|T_0000019|50010378|2018-01-04 06:22:13|               null|   team28|       OP2|         0|       3|
|T_0000020|50037567|2018-12-13 05:30:25|               null|   team56|       OP1|         1|       3|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
only showing top 20 rows

In [30]:
q3 = tickets.groupBy('solved_by').pivot('priority').count()

In [31]:
q3.show(5)

+---------+---+----+----+
|solved_by|  1|   2|   3|
+---------+---+----+----+
|   team68|317|1172|1865|
|   team56|356|1139|1859|
|   team48|405|1093|1898|
|   team30|354|1133|1863|
|   team78|400|1114|1893|
+---------+---+----+----+
only showing top 5 rows

In [33]:
q3 \
   .withColumnRenamed('solved_by', 'team') \
   .withColumnRenamed('1', 'tickets_priority_1_count') \
   .withColumnRenamed('2', 'tickets_priority_2_count') \
   .withColumnRenamed('3', 'tickets_priority_3_count') \
   .show()

+------+------------------------+------------------------+------------------------+
|  team|tickets_priority_1_count|tickets_priority_2_count|tickets_priority_3_count|
+------+------------------------+------------------------+------------------------+
|team68|                     317|                    1172|                    1865|
|team56|                     356|                    1139|                    1859|
|team48|                     405|                    1093|                    1898|
|team30|                     354|                    1133|                    1863|
|team78|                     400|                    1114|                    1893|
|team28|                     434|                    1071|                    1800|
|team90|                     360|                    1111|                    1842|
|team33|                     364|                    1152|                    1787|
|team34|                     405|                    1064|                    1749|
+------+------------------------+------------------------+------------------------+

q4

year

month

team

team size

tickets solved in the current month

tickets solved in the previous year

In [35]:
tickets.show(5)

+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
|ticket_id|   alarm|         started_ts|           ended_ts|solved_by|src_system|site_visit|priority|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
|T_0000001|50025222|2018-09-14 03:29:10|14-09-2018 04.06.13|   team78|       OP2|         1|       3|
|T_0000002|50021238|2018-10-29 03:39:49|29/10/2018 04:25:25|   team30|       OP1|         0|       2|
|T_0000003|50034089|2018-03-31 07:25:48|31/03/2018 07:58:45|   team68|       OP1|         0|       3|
|T_0000004|50021918|2018-08-08 19:57:56|08/08/2018 20:42:40|   team56|       OP1|         0|       2|
|T_0000005|50046096|2018-10-10 17:47:00|10/10/2018 18:31:05|   team34|       OP1|         0|       3|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+
only showing top 5 rows

In [69]:
from pyspark.sql.types import IntegerType, TimestampType, StringType

In [52]:
def extract_year(s):
    s1 = s.split()[0]
    s2 = s1.split('-')[0]
    return int(s2)

def extract_month(s):
    s1 = s.split()[0]
    s2 = s1.split('-')[1]
    return int(s2)

year_udf = f.udf(lambda x: extract_year(x), IntegerType())
month_udf = f.udf(lambda x: extract_month(x), IntegerType())

In [83]:
tickets = tickets.withColumn('started_ts', tickets.started_ts.cast(TimestampType()))

In [84]:
tickets = tickets \
           .withColumn('year', f.year('started_ts')) \
           .withColumn('month', f.month('started_ts'))

In [85]:
tickets.show(5)

+---------+--------+-------------------+-------------------+---------+----------+----------+--------+----+-----+
|ticket_id|   alarm|         started_ts|           ended_ts|solved_by|src_system|site_visit|priority|year|month|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+----+-----+
|T_0000001|50025222|2018-09-14 03:29:10|14-09-2018 04.06.13|   team78|       OP2|         1|       3|2018|    9|
|T_0000002|50021238|2018-10-29 03:39:49|29/10/2018 04:25:25|   team30|       OP1|         0|       2|2018|   10|
|T_0000003|50034089|2018-03-31 07:25:48|31/03/2018 07:58:45|   team68|       OP1|         0|       3|2018|    3|
|T_0000004|50021918|2018-08-08 19:57:56|08/08/2018 20:42:40|   team56|       OP1|         0|       2|2018|    8|
|T_0000005|50046096|2018-10-10 17:47:00|10/10/2018 18:31:05|   team34|       OP1|         0|       3|2018|   10|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+----+-----+
only showing top 5 rows

In [86]:
def clean_team_id(t):
    return 'team'+t[-2:]

clean_team_udf = f.udf(lambda x: clean_team_id(x), StringType())

In [87]:
teams1 = teams.withColumn('team_id', clean_team_udf('team_id'))

In [88]:
teams1.show()

+-------+---------+--------------------+
|team_id|team_size|avg_experience_years|
+-------+---------+--------------------+
| team40|        4|                   5|
| team33|        6|                   7|
| team90|        5|                   6|
| team56|        5|                   8|
| team48|        6|                   6|
| team28|        6|                   6|
| team68|        5|                   5|
| team78|        5|                   8|
| team34|        3|                   6|
| team30|        6|                   6|
+-------+---------+--------------------+

In [90]:
df1 = tickets.join(teams1, tickets.solved_by == teams1.team_id, how='inner')

In [105]:
df2 = df1.groupBy('team_id','team_size', 'month').count()

In [95]:
year_df = df1.groupBy('team_id','team_size', 'year').count()

In [96]:
year_df.show()

+-------+---------+----+-----+
|team_id|team_size|year|count|
+-------+---------+----+-----+
| team33|        6|2018| 3303|
| team78|        5|2019|    1|
| team30|        6|2019|    1|
| team30|        6|2018| 3349|
| team90|        5|2018| 3313|
| team34|        3|2018| 3218|
| team48|        6|2018| 3396|
| team56|        5|2018| 3354|
| team28|        6|2019|    1|
| team78|        5|2018| 3406|
| team28|        6|2018| 3304|
| team68|        5|2018| 3354|
+-------+---------+----+-----+

In [97]:
from pyspark.sql import Window

In [98]:
window_spec = Window.partitionBy('team_id', 'team_size').orderBy('year')

In [102]:
year_df = year_df.withColumn('prev_year', f.lag('count').over(window_spec)).fillna(0)

year_df = year_df.select('team_id', 'team_size', 'year', 'prev_year')

In [106]:
year_df.join(df2, on=['team_id', 'team_size']).show()

+-------+---------+----+---------+-----+-----+
|team_id|team_size|year|prev_year|month|count|
+-------+---------+----+---------+-----+-----+
| team56|        5|2018|        0|    1|  299|
| team56|        5|2018|        0|    4|  282|
| team56|        5|2018|        0|   12|  311|
| team56|        5|2018|        0|    9|  286|
| team56|        5|2018|        0|    6|  279|
| team56|        5|2018|        0|    2|  240|
| team56|        5|2018|        0|    7|  264|
| team56|        5|2018|        0|   10|  274|
| team56|        5|2018|        0|    5|  295|
| team56|        5|2018|        0|    8|  264|
| team56|        5|2018|        0|    3|  305|
| team56|        5|2018|        0|   11|  255|
| team34|        3|2018|        0|    2|  220|
| team34|        3|2018|        0|    1|  286|
| team34|        3|2018|        0|    7|  259|
| team34|        3|2018|        0|    9|  263|
| team34|        3|2018|        0|   12|  295|
| team34|        3|2018|        0|    8|  294|
| team34|        3|2018|        0|   11|  251|
| team34|        3|2018|        0|    6|  251|
+-------+---------+----+---------+-----+-----+
only showing top 20 rows

In [112]:
#q5

# Create a function that accepts alarms records (or subparts) and returns the
# alarm network type.

# • If MeContext contains LTE it is 4G network
# • If MeContext contains UTM it is 3G network
# • If MeContext contains GSM it is 2G network

In [122]:
# Your Answer
def myFunc(json_string):
    """
    this function takes a json string as argument
    and checks the instance of the network type,
    and returns the network type
    return type=> string
    """
    mecontext = json_string['alarm_src']['mecontext']
    if 'GSM' in mecontext:
        return 'GSM'
    elif 'LTE' in mecontext:
        return 'LTE'
    elif 'UTM' in mecontext:
        return 'UTM'
    else:
        return 'Not Specified'

In [123]:
sample = {'alarm_src':{'mecontext':'LON75UTM3265'}}

In [124]:
import pytest

In [128]:
def test_myFunc():
    sample = {'alarm_src':{'mecontext':'LON75LTE3265'}}
    assert 'LTE' == myFunc(sample)

In [126]:
test_myFunc()

In [148]:
#q6

Create a new version of the dataframe in Q4 with "count of tickets by
network type".
This should be aggregated by year, month, team. Use the above function
to get the network type.

In [129]:
alarms.show()

+--------+--------------------+-------------+--------------+----------------+
|alarm_id|           alarm_src| event_end_ts|event_start_ts|      issue_type|
+--------+--------------------+-------------+--------------+----------------+
|50000001|{LON75UTM3265, UK...|1525685613000| 1525683343000|                |
|50000002|{LON47UTM3159, UK...|1533618469000| 1533610843000|                |
|50000003|{LON75GSM2884, UK...|1541645693000| 1541637429000|      3g_failure|
|50000004|{LON187GSM2391, U...|1525604682000| 1525599471000|   power_failure|
|50000005|{LON111LTE4170, U...|1541342376000| 1541335278000|   power_failure|
|50000006|{LON75GSM2884, UK...|1533844097000| 1533841992000|                |
|50000007|{LON33GSM2601, UK...|1530752968000| 1530743892000|    speed_issues|
|50000008|{LON187LTE4202, U...|1532234526000| 1532227123000|   power_failure|
|50000009|{LON10UTM3870, UK...|1516540419000| 1516535411000|high_temperature|
|50000010|{LON37GSM2364, UK...|1540334084000| 1540331010000|      2g_failure|
|50000011|{LON187GSM2391, U...|1518941321000| 1518933506000|      2g_failure|
|50000012|{LON106LTE4901, U...|1538956219000| 1538952922000|        hw_issue|
|50000013|{LON181UTM3309, U...|1535634717000| 1535631870000|        hw_issue|
|50000014|{LON75UTM3265, UK...|1538241276000| 1538235040000|  up_link_failed|
|50000015|{LON106GSM2550, U...|1536323561000| 1536314983000|      3g_failure|
|50000016|{LON71LTE4248, UK...|1543762963000| 1543753807000|                |
|50000017|{LON10UTM3556, UK...|1529428786000| 1529425635000|  up_link_failed|
|50000018|{LON126UTM3553, U...|1540556629000| 1540550202000|  battery_broken|
|50000019|{LON114UTM3701, U...|1532129030000| 1532124021000|        hw_issue|
|50000020|{LON111UTM3087, U...|1541927093000| 1541918825000|      2g_failure|
+--------+--------------------+-------------+--------------+----------------+
only showing top 20 rows

In [135]:
alarms1 = alarms.selectExpr('alarm_id', 'alarm_src.MeContext')

In [136]:
alarms1.show(5)

+--------+-------------+
|alarm_id|    MeContext|
+--------+-------------+
|50000001| LON75UTM3265|
|50000002| LON47UTM3159|
|50000003| LON75GSM2884|
|50000004|LON187GSM2391|
|50000005|LON111LTE4170|
+--------+-------------+
only showing top 5 rows

In [140]:
# Your Answer
def myFunc(mecontext):
    """
    this function takes a json string as argument
    and checks the instance of the network type,
    and returns the network type
    return type=> string
    """
    if 'GSM' in mecontext:
        return 'GSM'
    elif 'LTE' in mecontext:
        return 'LTE'
    elif 'UTM' in mecontext:
        return 'UTM'
    else:
        return 'Not Specified'

ala_udf = f.udf(lambda x: myFunc(x))

In [142]:
alarms1 = alarms1.withColumn('network_type', ala_udf('MeContext'))

In [143]:
df1.show(5)

+---------+--------+-------------------+-------------------+---------+----------+----------+--------+----+-----+-------+---------+--------------------+
|ticket_id|   alarm|         started_ts|           ended_ts|solved_by|src_system|site_visit|priority|year|month|team_id|team_size|avg_experience_years|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+----+-----+-------+---------+--------------------+
|T_0000001|50025222|2018-09-14 03:29:10|14-09-2018 04.06.13|   team78|       OP2|         1|       3|2018|    9| team78|        5|                   8|
|T_0000002|50021238|2018-10-29 03:39:49|29/10/2018 04:25:25|   team30|       OP1|         0|       2|2018|   10| team30|        6|                   6|
|T_0000003|50034089|2018-03-31 07:25:48|31/03/2018 07:58:45|   team68|       OP1|         0|       3|2018|    3| team68|        5|                   5|
|T_0000004|50021918|2018-08-08 19:57:56|08/08/2018 20:42:40|   team56|       OP1|         0|       2|2018|    8| team56|        5|                   8|
|T_0000005|50046096|2018-10-10 17:47:00|10/10/2018 18:31:05|   team34|       OP1|         0|       3|2018|   10| team34|        3|                   6|
+---------+--------+-------------------+-------------------+---------+----------+----------+--------+----+-----+-------+---------+--------------------+
only showing top 5 rows

In [144]:
ovdf = alarms1.join(df1, alarms1.alarm_id == df1.alarm)

In [145]:
ovdf.groupBy('team_id', 'year', 'month', 'network_type').count().show()

+-------+----+-----+------------+-----+
|team_id|year|month|network_type|count|
+-------+----+-----+------------+-----+
| team30|2018|    7|         UTM|   72|
| team28|2018|    3|         GSM|   80|
| team78|2018|   10|         GSM|   77|
| team34|2018|    7|         GSM|   77|
| team33|2018|    1|         UTM|   92|
| team30|2018|    4|         LTE|  124|
| team30|2018|   11|         UTM|   78|
| team28|2018|    1|         UTM|   83|
| team28|2018|    8|         GSM|   90|
| team34|2018|   12|         GSM|   90|
| team34|2018|    6|         UTM|   65|
| team56|2018|   12|         GSM|   90|
| team34|2018|    6|         LTE|   93|
| team48|2018|    9|         GSM|   84|
| team33|2018|    5|         GSM|   82|
| team78|2018|    6|         UTM|   98|
| team90|2018|   12|         UTM|  103|
| team78|2018|    1|         UTM|   79|
| team34|2018|    2|         UTM|   70|
| team68|2018|    2|         UTM|   78|
+-------+----+-----+------------+-----+
only showing top 20 rows